params {
  profile = false
  kraken2_db = '/data/ref_databases/kraken2/2020-08-05_standard'
  bracken_db = '/data/ref_databases/bracken/2020-08-05_standard'
  host_reference = '/data/ref_databases/homo_sapiens_reference/hg38/hg38.fa'
  taxonomy_level = 'S'
  read_length = 150
  host_name = 'Homo sapiens'
  pathogen_name = 'Severe acute respiratory syndrome-related coronavirus'
}

profiles {
  conda {
    process.conda = "$baseDir/environments/environment.yml"
    if (params.cache){
      conda.cacheDir = params.cache
    }
  }
  sabin {
    includeConfig 'conf/sabin.config'
  }
  githubtest {
    includeConfig 'conf/githubtest.config'
  }
}

manifest {
  mainScript = 'main.nf'
  nextflowVersion = '>=20.01.0'
  version = '0.1.0'
}