manifest {
    author = 'Dan Fornika'
    name = 'BCCDC-PHL/dehost-and-verify-illumina'
    description = 'Dehost and verify Illumina reads using Kraken2 and Bracken'
    mainScript = 'main.nf'
    nextflowVersion = '>=20.01.0'
    version = '0.1.1'
}

params {
    profile = false
    cache = ''
    kraken2_db = '/data/ref_databases/kraken2/latest_standard'
    bracken_db = '/data/ref_databases/kraken2/latest_standard'
    host_reference = '/data/ref_databases/homo_sapiens_reference/hg38/hg38.fa'
    taxonomy_level = 'S'
    read_length = 150
    host_name = 'Homo sapiens'
    pathogen_name = 'Severe acute respiratory syndrome-related coronavirus'
}

def parseMinorVersion(version) {
    minor_version = version.split('\\.')[0..1].join('.')
    return minor_version
}

def parsePipelineName(name) {
    short_name = name.split('/')[1]
    return short_name
}

profiles {
    conda {
	conda.enabled = true
	process.conda = "$baseDir/environments/environment.yml"
	if (params.cache){
	    conda.cacheDir = params.cache
	}
    }

}

process {
    withName: kraken2 { 
	cpus = 8 
	memory = '72 GB'
    }
}
